<form class="create-list" (ngSubmit)="onSubmit()" [formGroup]="form">
    <div class="form-header">
        <h2 translate>Crear lista</h2>
        <img class="close-btn" src="../../../assets/icons/IoChevronBackCircle.svg" (click)="onClose()">
    </div>
    <div class="form-body">
        <input #name type="text" name="listName" placeholder="{{ 'global.name' | translate }} *" formControlName="name">
        <textarea rows="6" cols="30" name="listDescription" placeholder="{{ 'global.description' | translate }}" formControlName="description"></textarea>
    </div>
    <div class="buttons">
        <button class="btn qt-btn" type="submit"><img *ngIf="loading" class="spinner" src="../../../assets/spinner.gif">{{ 'global.ok' | translate }}</button>
    </div>
</form>