<form (ngSubmit)="onSubmit()">
    <div class="form-header">
        <img class="close-btn" src="../../../assets/icons/IoCloseCircle.svg" (click)="onClose()">
    </div>
    <div class="form-body">
        <div class="form-group">
            <div class="input-label">
                <label>{{ 'global.name' | translate }}:</label>
            </div>
            <div class="input-field">
                <input type="text" [(ngModel)]="listName" name="listName" required>
            </div>
        </div>
        <div class="form-group">
            <div class="input-label">
                <label>{{ 'global.description' | translate }}:</label>
            </div>
            <div class="input-field">
                <textarea rows="5" cols="50" [(ngModel)]="listDescription" name="listDescription" required></textarea>
            </div>
        </div>
        <div class="buttons">
            <button class="btn" type="submit">{{ 'global.ok' | translate }}</button>
        </div>
    </div>
</form>
