.qt-btn {
    background-color: rgba($melon, 0.7);
    border-radius: 20px;
    border: 2px solid $white;
    box-shadow: 0 5px rgba($melon, 0.4);

    height: 2.5em;
    color: $white;
    font-weight: bold;

    &:hover {
        cursor: pointer;
        background-color: rgba($melon, 0.8);
    } 

    &:active {
        transform: translateY(4px);
        box-shadow: 0 1px rgba($melon, 0.4);
    }
}

@mixin btn($width, $height, $font-size, $background-color, $font-color, $stroke, $border-radius, $color, $up-y, $down-y) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $width;
    height: $height;

    font-size: $font-size;
    font-weight: 500;

    color: $font-color;
    background-color: $background-color;

    border: $stroke;
    border-radius: $border-radius;

    &:hover {
        box-shadow: 0 $down-y 10px $color;
        transform: translateY($up-y);
    }

    &:active { transform: translateY($down-y); }
}