$white: #FFFFFF;

$melon: rgb(254, 180, 174);
$melon-90: rgba(254, 180, 174, 0.9);
$melon-80: rgba(254, 180, 174, 0.8);
$melon-70: rgba(254, 180, 174, 0.7);
$melon-60: rgba(254, 180, 174, 0.6);
$melon-50: rgba(254, 180, 174, 0.5);
$melon-40: rgba(254, 180, 174, 0.4);
$melon-30: rgba(254, 180, 174, 0.3);
$melon-20: rgba(254, 180, 174, 0.2);
$melon-10: rgba(254, 180, 174, 0.1);

$melon-pastel: rgba(255, 217, 214);

$tropical-indigo: rgb(131, 119, 209);
$tropical-indigo-90: rgba(131, 119, 209, 0.9);
$tropical-indigo-80: rgba(131, 119, 209, 0.8);
$tropical-indigo-70: rgba(131, 119, 209, 0.7);
$tropical-indigo-60: rgba(131, 119, 209, 0.6);
$tropical-indigo-50: rgba(131, 119, 209, 0.5);
$tropical-indigo-40: rgba(131, 119, 209, 0.4);
$tropical-indigo-30: rgba(131, 119, 209, 0.3);
$tropical-indigo-20: rgba(131, 119, 209, 0.2);
$tropical-indigo-10: rgba(131, 119, 209, 0.1);
$tropical-indigo-05: rgba(131, 119, 209, 0.05);

$english-violet: #45364B;
$raisin-black: #2D2327;