// The underscore at the beginning of the filename indicates that it is a partial Sass file, which will not compile on its own.
$white: #FFFFFF;

$melon: #FEB4AE;
$melon-50: rgba(254, 180, 174, 0.5);
$melon-40: rgba(254, 180, 174, 0.4);
$melon-30: rgba(254, 180, 174, 0.3);
$melon-20: rgba(254, 180, 174, 0.2);
$melon-10: rgba(254, 180, 174, 0.1);

$tropical-indigo: rgb(131, 119, 209);
$tropical-indigo-90: rgba(131, 119, 209, 0.9);
$tropical-indigo-80: rgba(131, 119, 209, 0.8);
$tropical-indigo-70: rgba(131, 119, 209, 0.7);
$tropical-indigo-60: rgba(131, 119, 209, 0.6);
$tropical-indigo-50: rgba(131, 119, 209, 0.5);
$tropical-indigo-40: rgba(131, 119, 209, 0.4);
$tropical-indigo-30: rgba(131, 119, 209, 0.3);
$tropical-indigo-20: rgba(131, 119, 209, 0.2);
$tropical-indigo-10: rgba(131, 119, 209, 0.1);

$english-violet: #45364B;
$raisin-black: #2D2327;