$white: #FFFFFF;
$black: #000000;
$melon: rgb(254, 180, 174);
$melon-pastel: rgba(255, 217, 214);
$light-red: rgba(255, 113, 113);
$bittersweet: #F25757;
$tropical-indigo: rgb(131, 119, 209);
$english-violet: #474269;
$raisin-black: #202130;
$light-blue: #0f70a4
