<form (ngSubmit)="onSubmit()">
    <div class="form-header">
        <img class="close-btn" src="../../../assets/icons/IoCloseCircle.svg" (click)="onClose()">
    </div>
    <div class="form-body">
        <div class="form-group">
            <div class="input-label">
                <label>Name:</label>
            </div>
            <div class="input-field">
                <input type="text" [(ngModel)]="taskName" name="taskName" required>
            </div>
        </div>
        <div class="form-group">
            <div class="input-label">
                <label>Description:</label>
            </div>
            <div class="input-field">
                <textarea rows="5" cols="50" [(ngModel)]="taskDescription" name="taskDescription" required></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="input-label">
                <label>State:</label>
            </div>
            <div class="input-field">
                <select [(ngModel)]="selectedState" name="state" required>
                    <option *ngFor="let state of states" [value]="state.id | number">{{state.name}}</option>
                </select>
            </div>
        </div>
        <div class="buttons">
            <button class="btn" type="submit">Ok</button>
        </div>
    </div>
</form>
  