<form class="create-task" (ngSubmit)="onSubmit()" [formGroup]="form">
    <div class="form-header">
        <h2 translate>Crear tarea</h2>
        <img class="close-btn" (click)="onClose()" src="../../../assets/icons/IoCloseCircle.svg">
    </div>

    <div class="form-body">
        <div class="form-group">
            <label class="name" for="name">{{ 'global.name' | translate }}<span class="asterisk">*</span></label>
            <input #labels #input class="input" type="text" name="name" formControlName="name">
        </div>

        <div class="form-group">
            <label class="name" for="description">{{ 'global.description' | translate }}<span class="asterisk">*</span></label>
            <textarea #labels #input class="input" rows="6" cols="30" name="description" formControlName="description"></textarea>
        </div>

        <div class="inline-group">
            <div class="form-group">
                <label class="name">{{ 'global.startDate' | translate }}</label>
                <input #labels #start class="input" [max]="dueDate" type="date" name="startDate" [(ngModel)]="startDate" [ngModelOptions]="{standalone: true}">
            </div>

            <div class="form-group">
                <label class="name">{{ 'global.dueDate' | translate }}</label>
                <input #labels class="input" [min]="startDate" type="date" name="dueDate" [(ngModel)]="dueDate" [ngModelOptions]="{standalone: true}">
            </div>
        </div>

        <!-- Repetition {{ 'global.repetition' | translate }}-->
        <div class="form-group" id="periocity">
            <label class="name">Periodicity</label>
            <select class="input" formControlName="periodicity">
                <option value="none">None</option>
                <option value="daily">Daily</option>
                <option value="weekly">Weekly</option>
                <option value="monthly">Monthly</option>
                <option value="yearly">Yearly</option>
                <option value="every-odd-day">Every odd day</option>
                <option value="every-even-day">Every even day</option>
            </select>
        </div>

        <div class="inline-group">
            <div class="form-group">
                <label class="name">{{ 'states.state' | translate }}<span class="asterisk">*</span></label>
                <div class="select" id="state-select" (click)="openStates()">
                    <div #labels #state class="input select-btn">
                        <label class="placeholder-text" *ngIf="!selectedState">
                            Select a state...
                        </label>
                        <label class="state" *ngIf="selectedState">
                            <span class="balloon">
                                <div class="circle"></div>{{ selectedState.name }}
                            </span>
                        </label>
                    </div>
                </div>
                <div class="popup-states" *ngIf="showStates">
                    <app-state-list (close)="hideModals()" (changes)="onChanges()" (state)="selectState($event)" [selectedState]="selectedState"></app-state-list>
                </div>
            </div>

            <!-- this will be uncommented when CRUD for labels is done !!!! -->
            
            <div class="form-group">
                <label class="name">{{ 'labels.labels' | translate }}</label>
                <div class="select" id="label-select" (click)="openLabels()">
                    <div #labels #label class="input select-btn">
                        <label class="placeholder-text" *ngIf="selectedLabels.length == 0">
                            Select labels...
                        </label>
                        <ng-container *ngIf="selectedLabels.length > 0">
                            <ng-container *ngFor="let label of selectedLabels">
                                <label class="label">
                                    <span class="balloon">{{ label.name }}</span>
                                </label>
                            </ng-container>
                        </ng-container>
                    </div>
                </div>
                <div class="popup-labels" *ngIf="showLabels">
                    <app-label-list (close)="hideModals()" (changes)="onChanges()" (labels)="selectLabels($event)" [selectedLabels]="selectedLabels"></app-label-list>
                </div> 
            </div>
        </div>
    </div>

    <div class="buttons">
        <button class="btn qt-btn" type="submit"><img *ngIf="loading" class="spinner" src="../../../assets/spinner.gif">{{ 'global.ok' | translate }}</button>
    </div>
</form>