@import "../../../assets/styles/colours";
@import "../../../assets/styles/buttons";
@import 'https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.3.2/css/simple-line-icons.min.css';

.create-task {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: $white;
    border-radius: 10px;
    width: 500px;
    height: 500px;

    padding: 5%;

    .form-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        h2 { font-size: 15pt; }

        .close-btn {
            cursor: pointer;
            width: 32px;
            height: 32px;
            margin: -5% -2% 0 0;
            
            &:hover { transform: scale(1.1); }
            &:active { transform: scale(1); }
        }
    }

    .form-body {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 80%;
        padding-inline: 2%;
        overflow-y: scroll;

        &::-webkit-scrollbar-track {
            background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
            border: 2px solid $white;
        }

        .inline-group {
            display: flex;
            justify-content: space-between;

            .form-group {
                width: 45%;
            }
        }

        .form-group {
            display: flex;
            flex-direction: column;

            .popup-states {
                position: fixed;
                z-index: 101;
                transform: translate(50%, -30%);
            }

            .popup-labels {
                position: fixed;
                z-index: 101;
                transform: translate(50%, -45%);
            }

            .name {
                display: flex;
                align-items: center;
                font-size: 10pt;
                margin-left: .2em;
                font-weight: 500;
                color: rgba($tropical-indigo, .6);

                .asterisk { margin-left: .5em; }
            }

            .input {
                padding: 5px;
                border-radius: 5px;
                border: 2px solid rgba($tropical-indigo, 0.4);
                background-color: rgba($tropical-indigo, 0.05);
                color: $tropical-indigo;
                font-size: 10pt;
                margin-bottom: 10px;
                
                &:focus { 
                    outline: none; 
                    background-color: rgba($tropical-indigo, 0.2);
                }
            }

            .select {
                display: flex;
                flex-direction: column;
                height: fit-content;
                width: 100%;

                .select-btn {
                    width: 100%;
                    height: 2.5em;
                    overflow: hidden;
                    display: flex;
                
                    .icon { 
                        font-size: 8pt;
                        justify-self: end;
                    }

                    &:hover {
                        cursor: pointer;
                        background-color: rgba($tropical-indigo, 0.2);
                    }
                }

                .list { display: none; }
            }
        }

        #periocity {
            width: 45%;
        }
    }

    .buttons {
        display: flex;
        justify-content: center;

        .btn {
            border-radius: 10px;
            width: 4em;
            font-size: 10pt;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            
            &:active { 
                color: $white;
                border: 2px solid $white; 
                outline: none;
            }

            .spinner {
                margin-left: -8px;
                width: 25px;
                height: 25px;
            }
        }
    }
}



.popup-labels {
    position: fixed;
    z-index: 102;
    transform: translate(0%, 20%);
}