@import "../../../assets/styles/colours";
@import "../../../assets/styles/buttons";

.create-task {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: $white;
    border-radius: 10px;
    width: 500px;
    height: 570px;

    padding: 5%;

    .form-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        h2 { font-size: 15pt; }

        .close-btn {
            cursor: pointer;
            width: 32px;
            height: 32px;
            margin: -5% -2% 0 0;
            
            &:hover { transform: scale(1.1); }
            &:active { transform: scale(1); }
        }
    }

    .form-body {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 80%;
        padding-inline: 2%;

        // input, textarea {
        //     padding: 5px;
        //     border-radius: 5px;
        //     border: 2px solid rgba($tropical-indigo, 0.4);
        //     background-color: rgba($tropical-indigo, 0.05);
        //     color: $tropical-indigo;
            
        //     font-size: 10pt;
        //     margin-bottom: 10px;

        //     &::placeholder { color: rgba($tropical-indigo, 0.5); }
        //     &:focus { outline: none; }
        // }

        // input { height: 2.5em; }

        // .form-group {
        //     display: flex;
        //     align-items: center;
        //     margin-bottom: 10px;

        //     label {
        //         font-size: 10pt;
        //         color: rgba($tropical-indigo, 0.6);
        //     }

        //     select {
        //         margin-left: 20px;
        //         height: 2.5em;
        //         width: 100px;
        //         border: 2px solid rgba($tropical-indigo, 0.4);
        //         background-color: rgba($tropical-indigo, 0.05);
        //         color: $tropical-indigo;
        //         font-size: 10pt;
        //         padding: 5px;
        //         border-radius: 5px;

        //         &:hover { cursor: text; }
        //         &:focus { outline: none; }
        //     }
        // }

        // .input-field {
        //     input {
        //         border: none;
        //         background-color: transparent;
        //     }
        // }
    }

    .buttons {
        display: flex;
        justify-content: center;

        .btn {
            border-radius: 10px;
            width: 4em;
            font-size: 10pt;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            
            &:active { 
                color: $white;
                border: 2px solid $white; 
                outline: none;
            }
        }
    }
}