@import "../../../assets/styles/colours";
@import "../../../assets/styles/buttons";

.title {
    margin: 3% 0 0 5%;
    font-weight: 500;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    z-index: 100;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 99;
}

.add-btn {
    margin-left: 5%;
    border-radius: 10px;
    width: fit-content;

    text-transform: uppercase;
    font-weight: 500;
}

.content {
    display: flex;
    max-width: 100%;
    height: fit-content;
    padding: 5px 0px;
    box-sizing: border-box;
    flex-wrap: wrap;
    margin: 2% 5% 0 5%;

    .board {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 300px;
        max-width: 300px;
        height: 5em;
        padding: 10px 15px;
        margin: 0px 52px 40px 5px;

        border: 2px solid rgba($black, 0.05);
        border-radius: 5px;

        .board-info {
            display: flex;
            align-items: center;
            max-height: 2em;
            width: 80%;
            .board-img {
                background-color: $tropical-indigo;
                border-radius: 5px;
                width: 2rem;
                height: 2rem;
                margin-right: 20px;
                &:hover { cursor: pointer; }
            }

            .board-name {
                font-size: 15pt;
                font-weight: 500;
                max-width: 180px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                &:hover { cursor: pointer; }
            }
        }


        .btn-section {
            display: flex;
            align-items: center;

            .board-btn {
                margin-left: 10px;
                width: 20px;
                height: 20px;

                &:hover { transform: scale(1.2); }
                &:active { transform: scale(1); }
            }
        }

        &:hover {
            cursor: pointer;
            background-color: rgba($black, 0.05);
        }
    }
}

// @media only screen and (max-width: 770px) {
//     .title {
//       margin: 5% 0 0 5%;
//       display: flex;
//       align-items: center;
//     }

//     .popup {
//       padding: 10px;
//     }

//     .add-btn {
//         font-size: 12px;
//     }

//     .content {
//       margin: 5% 5% 0 5%;

//       .board {
//         width: 100%;
//         max-width: 100%;
//         margin: 0px 0px 20px 0px;

//         .board-info {
//           max-height: 3em;

//           .board-img {
//             width: 1.5rem;
//             height: 1.5rem;
//             margin-right: 10px;
//           }

//           .board-name {
//             font-size: 12pt;
//             max-width: 140px;
//           }
//         }

//         .btn-section {
//           display: flex;
//           align-items: center;
//           margin: 10px 0 0 0;

//           .board-btn {
//             width: 15px;
//             height: 15px;
//             margin-left: 5px;
//           }
//         }
//       }
//     }
//   }
