<h1 class="title" translate>boards.title</h1>

<div class="board-container" *ngIf="!loading">
    <div class="content">
        <ng-container *ngFor="let board of  boards">
            <div class="board" *ngIf="boards.includes(board)">
                <div class="board-info" (click)="viewBoard(board.id)">
                    <div class="board-img"></div>
                    <label class="board-name">{{ board.name }}</label> 
                </div>
                <div class="btn-section">
                    <img id="delete-btn" class="board-btn" src="../../../assets/icons/Trashcan.svg" (click)="deleteBoard(board.id)">
                </div>
            </div>
        </ng-container>
    </div>
    <button class="add-btn qt-btn" (click)="openAddPopup()" translate>boards.addBtn</button>
</div>
<app-spinner *ngIf="loading"></app-spinner>

<div class="overlay" *ngIf="show()" (click)="hidePopup()"></div>
<div class="popup" *ngIf="show()">
    <app-create-board *ngIf="show()" (boardCreated)="addBoard()"
        (closePopup)="hidePopup()"></app-create-board>
</div>