<form class="board-settings" *ngIf="board" (ngSubmit)="onSubmit()" [formGroup]="form">
    <div class="top">
        <div class="header"><h3 class="title" translate>global.settings</h3><i *ngIf="disabled" class="bi bi-pencil-square" (click)="toggleEdit()"></i></div>
        <i class="close-btn bi bi-x-circle-fill" (click)="onClose()"></i>
    </div>
    <div class="body">
        <div class="form-group">
            <label for="name" translate>global.name</label>
            <input #input formControlName="name" class="input" name="name" type="text" placeholder="{{ board.name }}">
        </div>
        <div class="form-group">
            <label for="description" translate>global.description</label>
            <textarea #input formControlName="description" rows="6" cols="30" class="input" name="description" type="text" placeholder="{{ board.description }}"></textarea>
        </div>
    </div>
    <div class="bottom">
        <button *ngIf="!disabled" #savebtn class="ok-btn qt-btn" type="submit">{{ 'global.ok' | translate }}</button>
    </div>
</form>