@import '../../../assets/styles/colours';
@import '../../../assets/styles/buttons';

body {
  background-color: $tropical-indigo-60;
  width: 100%;
  height: 100vh;
  margin: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .login-form {
    background-color: $white;

    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    width: 400px;
    height: 350px;

    border-radius: 5%;
    padding: 15px;

    .form-header .back-btn:hover {
      cursor: pointer;
      /* fill: ... */
    }

    .form-body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      margin: 30px;
      height: 100px;

      input {
        height: 2em;
        border: 2px solid $tropical-indigo-30;
        border-radius: 20px;
        background-color: $tropical-indigo-05;

        padding-left: 10px;
        color: $tropical-indigo;

        &::placeholder {
          color: $tropical-indigo-50;
        }

        &:focus {
          outline: none;
          border-color: $tropical-indigo-30;
        }

        /*+label {
                    transform: translateY(-24px) scale(0.8);
                    color: $tropical-indigo;
                }*/
      }
    }

    .bottom {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin: 20px 0 20px 0px;
      height: 80px;

      .login-btn {
        width: 10em;
        font-size: 12pt;
      }

      a {
        color: $tropical-indigo;
        font-size: 12pt;
        font-weight: bold;
      }
    }
  }
}
