<body>
    <form class="login-form" (ngSubmit)="onSubmit()" (formGroup)="loginForm">
        <div class="form-header">
            <img class="back-btn" src="../../../assets/icons/IoChevronBackCircle.svg" alt="Back" (click)="goBack()"
                role="button">
        </div>
        <div class="form-body">
            <input type="email" id="email" (ngModel)="email" name="email" class="form-control" required
                placeholder="Email" (focus)="onFocus($event, emailLabel)" (blur)="onBlur($event, emailLabel)">
            <input type="password" id="password" (ngModel)="password" name="password" class="form-control" required
                placeholder="Password" (focus)="onFocus($event, passwordLabel)" (blur)="onBlur($event, passwordLabel)">
        </div>
        <div class="bottom">
            <button class="login-btn qt-btn" type="submit">INICIAR SESIÓN</button>
            <a href="./register">¿No tienes cuenta? Regístrate aquí.</a>
        </div>
    </form>
</body>
