<div class="kanban-layout">
    <div class="states">
        <ng-container *ngFor="let state of states">
            <div class="state">
                <div class="title"><h3 class="name">{{ state.name }}</h3><i class="bi bi-three-dots-vertical"></i></div>
                <div class="tasks">
                    <ng-container *ngFor="let task of getTasksByStateId(state.id)">
                        <div class="task-card">
                            <textarea class="task-name" disabled>{{ task.name }}</textarea>
                            <div class="options">
                                <i class="bi bi-pencil-fill" (click)="editTask(task)"></i>
                            </div>
                        </div>
                    </ng-container>
                </div>
                <i class="bi bi-plus-square-fill" (click)="createTask(state)"></i>
            </div>
        </ng-container>
        <!-- <i class="bi bi-plus-circle-fill"></i> -->
    </div>
</div>