@import '../../../assets/styles/colours';

mat-form-field {
    font-size: 12pt;
    margin-bottom: 1.8em;
}

.flag {
    width: 1.05em;
    height: 1.05em;
    vertical-align: middle;
    margin-right: 0.5em;
}