<div #select class="language-select closed">
    <div class="select-btn" (click)="selectActive()">
        <span #title class="placeholder-text"><img class="flag" *ngIf="selectedLang" [src]="'assets/flags/' + selectedLang + '.png'"></span>
        <i #icon class="icon icon-arrow-down"></i>
    </div>
    <ul class="option-list">
        <li #option #en class="option closed" (click)="selectLang('en')">English</li>
        <li #option #es class="option closed" (click)="selectLang('es')">Español</li>
        <li #option #de class="option closed" (click)="selectLang('de')">Deutsch</li>
        <li #option #it class="option closed" (click)="selectLang('fr')">Français</li>
        <li #option #it class="option closed" (click)="selectLang('it')">Italiano</li>
        <li #option #pt class="option closed" (click)="selectLang('pt')">Português</li>
    </ul>
</div>