<mat-form-field appearance="outline" [style.width]="'5em'" [style.height]="'1.8em'">
    <mat-select [(value)]="selectedLang" (selectionChange)="switchLanguage()" panelClass="my-select-panel-class">
        <mat-select-trigger>
            <img [src]="'assets/flags/' + selectedLang + '.png'" class="flag" />
        </mat-select-trigger>
        <mat-option value="en">EN</mat-option>
        <mat-option value="es">ES</mat-option>
        <mat-option value="de">DE</mat-option>
        <mat-option value="it">IT</mat-option>
        <mat-option value="pt">PT</mat-option>
    </mat-select>
</mat-form-field>