@import '../../../assets/styles/colours';
@import 'https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.3.2/css/simple-line-icons.min.css';

.language-select {
    position: relative;
    transform: translateY(40.5%);
    
    display: flex;
    flex-direction: column;
    
    overflow: hidden;
    
    box-sizing: border-box;

    width: 7em;
    height: fit-content;

    font-size: 8pt;
    border-radius: 10px;
    color: $tropical-indigo;
    background-color: $white;
    border: .1em solid rgba($tropical-indigo, .1);

    .select-btn {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: .6em 1em;
        color: $tropical-indigo;

        .flag {
            width: 15px;
            height: 15px;
        }

        &:hover { 
            cursor: pointer; 
            background-color: rgba($tropical-indigo, .05);
        }
    }

    .option-list {
        list-style: none;
        text-decoration: none;
        
        margin: 0;
        padding: 0;

        display: flex;
        flex-direction: column;
        width: 100%;

        .option {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: .6em 1em;

            font-size: 7pt;
            text-transform: uppercase;

            border-top: .1em solid rgba($tropical-indigo, 0.2);

            color: rgba($tropical-indigo, 0.8);

            .icon-check {
                color:rgba($tropical-indigo, 0.8);
                font-size: 6pt;
                font-weight: bold;
                opacity: 0;
            }
              
            &:hover {
                cursor: pointer;
                background-color: rgba($tropical-indigo, 0.5);
                color: $white;
      
                .icon-check {
                    color: $white;
                }
            }
        }

        .checked {
            .icon-check {
              opacity: 1;
            }
        }
    }
}

.closed {
    top: 0;
    transform: translateY(0);

    .option-list {
        display: none;
    }
}