<div class="state-list">
    <div class="top">
        <h4 class="title" translate>states.states</h4>
        <hr class="divider">
        <ng-container *ngIf="states">
            <ng-container *ngFor="let state of states">
                <div class="state-card">
                    <div class="left">
                        <i class="bi bi-grip-vertical"></i>
                        <div class="balloon">
                            <i class="bi bi-circle-fill"></i>
                            <label class="name">{{ state.name }}</label>
                        </div>
                    </div>
                    <i #dropdown (click)="toggleDropdown(dropdown)" class="bi dropdown-btn bi-chevron-down"></i>
                </div>
            </ng-container>
        </ng-container>
    </div>
    <div class="bottom">
        <div class="btn"><i class="bi bi-plus-lg"></i><label>New</label></div>
    </div>
</div>