@import '../../../assets/styles/colours';

header {
    top: 0;
    z-index: 2;
    position: sticky;

    background-color: $white;

    display: flex;
    justify-content: space-between;

    box-sizing: border-box;
    padding-right: 20px;
    height: 65px;

    box-shadow: 0 2px 5px $black-20;

    .logo {
        width: 250px;
        height: 100%;

        &:hover { cursor: pointer; }
    }

    .profile {
        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;

        padding: 5px 0px 5px 0px;

        .profile-pic {
            width: 38px;
            height: 38px;
            border-radius: 50%;

            &:hover { 
                cursor: pointer; 
                transform: scale(1.02);
            }
        }

        .user-name {
            text-align: center;
            font-size: 8pt;
            font-weight: bold;
        }
    }
}

.flag {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    margin-right: 0.5em;
}

.mat-select-value-text {
    display: flex;
    align-items: center;
  
    .flag {
        width: 1em;
        height: 1em;
        vertical-align: middle;
        margin-right: 0.5em;
    }
}
