@import '../../../assets/styles/colours';
@import '../../../assets//styles/buttons';

header {
    top: 0;
    z-index: 2;
    position: sticky;

    background-color: $white;

    display: flex;
    justify-content: space-between;

    box-sizing: border-box;
    padding-right: 20px;
    height: 65px;

    box-shadow: 0 2px 5px rgba($black, 0.2);

    .logo {
        width: 250px;
        height: 100%;

        &:hover { cursor: pointer; }
    }

    .right-side {
        display: flex;
        align-items: center;

        .profile {
            display: flex;
            flex-direction: column;
    
            justify-content: center;
            align-items: center;
            
            margin-left: 20px;
            padding: 5px 0px 5px 0px;
    
            .profile-pic {
                width: 38px;
                height: 38px;
                border-radius: 50%;
    
                &:hover { 
                    cursor: pointer; 
                    transform: scale(1.02);
                }
            }
    
            .user-name {
                text-align: center;
                font-size: 8pt;
                font-weight: bold;
            }
        }

        .btn-section {
            display: flex;
            justify-content: space-between;
            margin-left: 20px;
            width: 13em;

            #login-btn { 
                @include btn(6rem, 2.8em, 10pt, $tropical-indigo, $white, 2px solid $tropical-indigo, 10px, rgba($tropical-indigo, 0.6)); 
            }    

            #signup-btn { 
                @include btn(6rem, 2.8em, 10pt, transparent, $tropical-indigo, 2px solid $tropical-indigo, 10px, rgba($tropical-indigo, 0.6)); 
            }
        }
    }
}