<header>
    <img class="logo" src="../../../assets/placeholder.png" (click)="goHome()">
    <div class="right-side">
        <app-language-selector></app-language-selector>
        <div *ngIf="!this.showLoginButton" class="profile">
            <img class="profile-pic" src="../../../assets/icons/IoPersonCircle.svg" (click)="goProfile()">
            <label class="user-name">Lorem Ipsum</label>
        </div>
        <div *ngIf="this.showLoginButton" class="btn-section">
            <button id="login-btn" (click)="onLogin()" translate>global.login</button>
            <button id="signup-btn" (click)="onSignUp()" translate>global.register</button>
        </div>
    </div>
</header>
