<div id="container">
  <div id="tabs">
    <div class="select-tabs" [class.selected]="isCopy" (click)="setIsCopy(true)">Copy</div>
    <div class="select-tabs" [class.selected]="!isCopy" (click)="setIsCopy(false)">Move</div>
  </div>

  <div class="options">
      <select class="form-select" [(ngModel)]="selectedBoard" (change)="updateTaskLists()">
        <option *ngFor="let board of boards" [ngValue]="board">{{board.name}}</option>
      </select>
      <select class="form-select" [(ngModel)]="selectedTaskList" (change)="updateStates()">
        <option *ngFor="let taskList of taskLists" [ngValue]="taskList">{{taskList.name}}</option>
      </select>
      <select class="form-select" [(ngModel)]="selectedState" (change)="updatePosition()">
        <option *ngFor="let state of states" [ngValue]="state">{{state.name}}</option>
      </select>
      <input [(ngModel)]="positionNumber">
  </div>

  <button type="submit" (click)="submit()">
    <ng-container *ngIf="isCopy">Copy</ng-container>
    <ng-container *ngIf="!isCopy">Move</ng-container>
  </button>

</div>
