@import '../../../assets/styles/colours';


#container {
  background-color: $white;
  width: 14rem;
  display: flex;
  flex-direction: column;
  border-radius: 5px;

  #tabs, #options, #submit {
    margin-bottom: 5px;
  }

  #options, #submit {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

#tabs {
  display: flex;
  flex-direction: row;

  .select-tabs {
    width: 100%;
    background-color: rgba($tropical-indigo, 0.2);
    text-align: center;

    &:hover {
      background-color: rgba($tropical-indigo, 0.5);
    }
  }

  .selected {
    border-bottom: 5px solid $tropical-indigo ;
  }
}

#options {
  display: grid;

  select, input {
    width: 100%;
  }

  .option-child {
    margin: 2px;
  }

  #boardFormElement {
    grid-column: 1/3;
    grid-row: 1/1;
  }

  #taskListFormElement {
    grid-column: 1/3;
    grid-row: 2/2;
  }

  #stateFormElement {
    grid-column: 1/1;
    grid-row: 3/3;
  }

  #positionFormElement {
    grid-column: 2/2;
    grid-row: 3/3;
  }
}

.spinner {
  margin-left: -8px;
  width: 25px;
  height: 25px;
}