@import '../../../assets/styles/colours';
@import '../../../assets/styles/buttons';
@import 'https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.3.2/css/simple-line-icons.min.css';

.list-detail-container {
  width: 100%;
  height: 100%;
  background-color: rgba($english-violet, .05);
  color: $english-violet;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  &::-webkit-scrollbar-track { 
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb { 
    border: none;
    border-radius: 0;
  }

  .wallpaper {
    position: fixed;
    height: 15vh;
    width: 100%;
    max-width: 100%;
    background-color: rgba($tropical-indigo, 0.6);
    box-shadow: inset 0px -10px 10px -10px $tropical-indigo;
  }

  .header {
    display: flex;
    justify-content: space-between;
    max-height: 60px;
    height: 60px;
    padding: 15px 20px;
    box-sizing: border-box;
    width: 100%;
    margin-top: 15vh;
    margin-bottom: 2em;

    .info {
      display: flex;
      flex-direction: column;
      color: $english-violet;
      max-width: 20em;
      height: 100%;
      font-size: 16pt;
    
      .top {
        display: flex; 
        width: 100%;
        height: fit-content;
        align-items: center;

        .name {
          max-width: 20em;
          height: 100%;
          width: fit-content;
          white-space: nowrap;
          text-overflow: ellipsis; 
          margin: 0;
          padding: 0;
        }

        .bi {
          color: $tropical-indigo;
          margin-left: 1em;
          font-size: 12pt;

          &:hover {
            cursor: pointer;
          }

          &:active {
            transform: scale(.9);
          }
        }
      }
      

      .description {
        font-size: 10pt;
        margin-top: .5em;
        margin-left: .2em;
        max-width: 100%;
        max-height: 2rem;
        opacity: .8;
        white-space: nowrap;
        font-style: italic;
        text-overflow: ellipsis;
      }
    }

    .layout-select {
      position: relative;
      right: 0;
      z-index: 1;
    }
  }

  .layout {
    margin-block: 1em;
    width: 100%;

    #table-layout {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  z-index: 100;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 99; 
  overflow-y: scroll;
}