<div class="list-detail-container">
  <div class="wallpaper"></div>

  <div class="header">
    <div class="text">
      <h3>{{ selectedList.name }}</h3>
      <p>{{ selectedList.description }}</p>
    </div>
    <div #select class="layout-select closed">
      <div class="select-btn" (click)="selectActive()">
        <span #title class="placeholder-text">Kanban layout</span>
        <i #icon class="icon icon-arrow-down"></i>
      </div>
      <ul class="option-list">
        <li #option #table id="table" class="option closed" (click)="selectLayout(tableOption)"><span class="left"><i class="icon icon-list"></i>Table Layout</span><i class="icon icon-check"></i></li>
        <li #option #kanban id="kanban" class="option closed checked" (click)="selectLayout(kanbanOption)"><span class="left"><i class="icon icon-chart"></i>Kanban Layout</span><i class="icon icon-check"></i></li>
      </ul>
    </div>
  </div>
</div>

<div class="overlay" *ngIf="showPopup" (click)="showPopup = false"></div>
<div class="popup" *ngIf="showPopup">
  <app-create-task *ngIf="showPopup" [boardId]="selectedList.board_id.toString()" [taskListId]="selectedList.id.toString()" (taskCreated)="addTask($event)"
    (closePopup)="showPopup = false"></app-create-task>
</div>