<div class="list-detail-container">
  <div>
    <h2>{{ taskList?.name }}</h2>
    <p>{{ taskList?.description }}</p>
  </div>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Status</th>
        <th>Label</th>
        <th>Start Date</th>
        <th>End Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks">
        <td>{{ task.name }}</td>
        <td>{{ task.description }}</td>
        <!-- <td>{{ tasks.status }}</td>
        <td>{{ tasks.label }}</td>
        <td>{{ tasks.start_date }}</td>
        <td>{{ tasks.end_date }}</td> -->
      </tr>
    </tbody>
  </table>
</div>
<div class="add-container">
  <img class="add-btn" src="../../../assets/icons/CkAdd.svg" (click)="showPopup = true">
</div>

<div class="overlay" *ngIf="showPopup" (click)="showPopup = false"></div>

<div class="popup" *ngIf="showPopup">
  <app-create-task *ngIf="showPopup" [boardId]="boardId" [taskListId]="taskListId" (taskCreated)="addTask($event)" (closePopup)="showPopup = false"></app-create-task>
</div>