<form class="create-board" (ngSubmit)="onSubmit()" [formGroup]="form">
  <div class="form-header">
    <h2 translate>boards.createBoard</h2>
    <img class="close-btn" src="../../../assets/icons/IoCloseCircle.svg" (click)="onClose()">
  </div>
  <div class="form-body">
    <input #name type="text" [(ngModel)]="boardName" name="boardName" placeholder="{{ 'global.name' | translate }} *" (focus)="onFocus($event, name)" (blur)="onBlur($event, name)" formControlName="boardName">
    <textarea rows="6" cols="30" [(ngModel)]="boardDescription" name="boardDescription" placeholder="{{ 'global.description' | translate }}" formControlName="boardDescription"></textarea>
  </div>
  <div class="buttons">
    <button class="btn qt-btn" type="submit">{{ 'global.ok' | translate }}</button>
  </div>
</form>
