@import "../../../assets/styles/colours";
@import "../../../assets/styles/buttons";

.comment-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;

    .new-comment {
        display: flex;
        width: 500px;
        flex-direction: column;
        margin-bottom: 20px;
        align-items: center;
        justify-content: space-between;
        text-align: justify;


        textarea {
            padding: 5px;
            border-radius: 5px;
            border: 2px solid rgba($tropical-indigo, 0.6);
            background-color: #eee;
            color: #333;
            font-size: 12pt;
            width: 100%;
            height: 100px;
            resize: none;
            margin-bottom: 10px;
            text-align: justify;


            &::placeholder {
                color: #aaa;
            }

            &:focus {
                outline: none;
                border-color: rgba($tropical-indigo, 0.9);
            }
        }

        button {
            border-radius: 10px;
            border: none;
            background-color: rgba($tropical-indigo, 0.5);
            color: white;
            font-size: 12pt;
            padding: 10px;
            text-transform: uppercase;
            cursor: pointer;

            &:hover {
                background-color: rgba($tropical-indigo, 0.5);
            }

            &:active {
                background-color: rgba($tropical-indigo, 0.7);
            }
        }
    }

    .comments {
        width: 65%;
        margin: 0% 10% 10% 10%;
        text-align: justify;


        .comment {
            background-color: rgba($tropical-indigo, 0.35);
            border-radius: 25px;
            margin-bottom: 20px;
            padding: 10px;
            text-align: justify;


            .comment-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 10px;
                flex-direction: column;
                margin-top: 10px;

                h5 {
                    font-size: 14pt;
                    color: #333;
                    margin: 0;
                }

                p {
                    font-size: 12pt;
                    color: #777;
                    align-items: center;
                }
            }

            .comment-body {
                margin-bottom: 10px;
                align-items: center;
                margin-left: 50px;
                margin-right: 50px;
                margin-top: 0;

                p {
                    font-size: 12pt;
                    color: #333;
                    margin: 0;
                }

                textarea {
                    padding: 5px;
                    border-radius: 5px;
                    border: 2px solid rgba($tropical-indigo, 0.4);
                    background-color: #eee;
                    color: #333;
                    font-size: 12pt;
                    width: 100%;
                    height: 100px;
                    resize: none;
                    margin-top: 10px;
                    margin-bottom: 10px;

                    &:focus {
                        outline: none;
                        border-color: ($tropical-indigo, 0.6);
                    }
                }
            }

            .comment-footer {
                display: flex;
                justify-content: space-between;
                align-items: center;
                justify-content: flex-end;

                button {
                    border-radius: 10px;
                    border: none;
                    background-color: rgba($tropical-indigo, 0.35);
                    color: white;
                    font-size: 12pt;
                    padding: 5px 10px;
                    text-transform: uppercase;
                    cursor: pointer;
                    margin-bottom: 10px;
                    transition: background-color 0.2s ease-in-out;

                    &:first-child {
                        margin-right: 5px;
                    }

                    &:nth-child(2) {
                        margin-right: 5px;
                    }

                    &:nth-child(3) {
                        margin-right: 5px;
                    }

                    &:last-child {
                        margin-right: 5px;
                    }

                    &:hover {
                        background-color: rgba($tropical-indigo, 0.5);
                    }

                    &:active {
                        background-color: rgba($tropical-indigo, 0.7);
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: 770px) {

    .comments {
        width: 75%;
    }
}
