<form class="create-state" (ngSubmit)="onSubmit()" [formGroup]="stateForm">
    <div class="form-header">
        <h4 class="title">Crear estado</h4>
        <img class="close-btn" src="../../../assets/icons/IoChevronBackCircle.svg" (click)="onClose()">
    </div>
    <div class="form-body">
        <input #input type="text" formControlName="name" placeholder="{{ 'global.name' | translate }}">
    </div>
    <div class="buttons">
        <button class="btn qt-btn" type="submit"><img *ngIf="loading" class="spinner" src="../../../assets/spinner.gif">{{ 'global.ok' | translate }}</button>
    </div>
</form>