@import '../../../assets/styles/colours';

.color-select {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    border-radius: 5px;
    color: rgba($tropical-indigo, .6);
    border: 1px solid rgba($tropical-indigo, 0.4);
    background-color: $white;

    .select-btn {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: .4em .5em;
        font-size: 8pt;
        background-color: rgba($tropical-indigo, 0.05);
    }

    .option-list {
        position: absolute;
        top: 1.5em;
        width: 110%;
        border: 1px solid rgba($tropical-indigo, 0.4);
        background-color: $white;
        list-style: none;
        text-decoration: none;
        width: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      

      .option {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        padding: .6em 1em;
        font-size: 8pt;
        font-weight: 500;
        text-transform: uppercase;
        border-top: .1em solid rgba($tropical-indigo, 0.2);
        background-color: rgba($tropical-indigo, 0.05);

        .left {
          display: flex;
          align-items: center;

          .bi {
            margin-right: 1em;
            font-size: 10pt;
          }
        }

        .bi-check2 {
            font-size: 11pt;
            opacity: 0;
        }
        
        &:hover {
          cursor: pointer;
          background-color: rgba($tropical-indigo, 0.2);
        }
      }

      .checked {
        .bi-check2 {
          opacity: 1;
        }
      }
    }
  }

  .closed {
    .option-list {
      display: none;
    }
  }
