@import "../../../assets/styles/colours";

.board-detail {
    display: flex;

    .sidebar-container {
        position: relative;
        width: 200px;
        height: calc(100vh - 10vh);
        background-color: $melon-pastel;
        border-right: 2px solid rgba($melon, 0.5);

        .sidebar {
            height: 100%;
            padding: 5%;

            display: flex;
            flex-direction: column;
            align-items: center;

            .divider {
                width: 100%;
                border: 1px solid rgba($black, 0.9);
            }

            .board-info {
                padding: 10%;

                h2 { 
                    font-size: 18pt; 
                    margin: 0;
                    padding: 0;
                }
            }

            .settings {
                display: flex;
                justify-content: center;
                align-items: center;


                .settings-btn {
                    margin-right: 10%;
                    width: 15px;
                    height: 15px;
                    &:hover { cursor: pointer; }
                }

                label {
                    font-size: 11pt;
                    text-transform: uppercase;
                    &:hover { cursor: pointer; }
                }
            }

            .lists-container {
                display: flex;
                flex-direction: column;
                width: 100%;
                padding-inline: 5%;

                .lists-header {
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    width: fit-content;
                    height: fit-content;

                    .title {    
                        text-justify: start;
                        font-size: 10pt;
                        margin: 0;

                        &:hover { cursor: pointer; }
                    }

                    .dropdown-btn {
                        width: 10px;
                        height: 10px;
                        margin-left: 10px;

                        &:hover { cursor: pointer; }
                    }
                }   

                .dropdown {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 100%;
                    padding-top: 5%;   

                    .list-card {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 100%;
                        max-width: 100%;
                        padding: 2px 6px;
                        margin-bottom: 5px;

                        .list-name {
                            font-size: 10pt;
                            max-width: 70%;
                            margin: 0px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;

                            &:hover { cursor: pointer; }
                        }

                        .delete-btn {
                            width: 15px;
                            height: 15px;

                            &:hover {
                                cursor: pointer;
                                transform: scale(1.1);
                            }

                            &:active { transform: scale(1); }
                        }

                        &:hover {
                            background-color: rgba($melon, 0.6);
                            border-radius: 5px;
                            cursor: pointer;
                        }
                    }
                }

                .add-btn {
                    margin-top: 10px;
                    width: 18px;
                    height: 18px;
                    border: 1.5px solid rgba($black, 0.3);
                    border-radius: 2px;
                    align-self: center;

                    &:hover { 
                        cursor: pointer; 
                        background-color: rgba($black, 0.05);
                        transform: scale(1.1);
                    }

                    &:active { transform: scale(1); }
                }
            }
        }

        .close-btn {
            position: absolute;
            top: 0;
            right: 0;
            margin: 1rem -0.8rem 0 0;
            background-color: $white;
            border-radius: 50%;
            border: 1px solid $melon-pastel;
            width: 25px;
            height: 25px;
            z-index: 1;

            &:hover { cursor: pointer; }
        }
    }

    .list-detail-container {
        width: calc(100% - 200px);
    }
}

.sidebar-closed {
    .sidebar-container {
        width: 20px;

        .sidebar { display: none; }
        .close-btn { transform: rotate(180deg); }
    }

    .list-detail-container {
        width: calc(100% - 20px);
    }
}

.list-card-selected {
    background-color: rgba($melon, 0.9);
    border-radius: 5px;
    cursor: pointer;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px); 
    z-index: 99; 
}