<div *ngIf="componentVisible" class="sidebar">
    <img class="close-btn" src="../../../assets/icons/IoCaretBackCircle.svg" (click)="toggleComponent()">

    <div class="board-info">
        <h2>{{ board?.name }}</h2>
        <p class="description">{{ board?.description }}</p>
    </div>

    <div class="settings">
        <img class="settings-btn" src="../../../assets/icons/GoGear.svg" alt=""> Settings
    </div>

    <div class="lists-container">
        <h4>Lists</h4>
        <div *ngFor="let list of lists">{{ list.name }}</div>
    </div>

    <div class="add-container">
        <img class="add-btn" src="../../../assets/icons/CkAdd.svg">
    </div>
</div>

<!--CkAdd -->