@import '../../../assets/styles/colours';

.select {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 150px;
    height: 160px;
    max-height: 200px;
    border-radius: 5px;
    box-shadow: 0 0px 10px rgba($english-violet, .2);
    background-color: $white;
    z-index: 103;
    overflow: hidden;

    padding: .4em .5em;
    color: $english-violet;

    .top {
        display: flex;
        flex-direction: column;
        height: fit-content;
        margin: 0;

        .header {
            display: flex;
            justify-content: space-between;
            margin-bottom: .3em;
    
            .title {
                font-size: 9pt;
                font-weight: 500;
                margin: .1em 0 0 .1em;
                padding: 0;
            }
    
            .bi-x {
                margin: -.2em -.2em 0 0;
                font-size: 12pt;
    
                &:hover { cursor: pointer; }
            }
        }
    
        .body {
            overflow-y: scroll;
            max-height: 70%;
    
            &::-webkit-scrollbar {
                width: 2px;
                height: 2px;
            }
    
            &::-webkit-scrollbar-track {
                background-color: transparent;
            }
    
            &::-webkit-scrollbar-thumb {
                border: none;
            }
    
            .select-card {
                display: flex;
                align-items: center;
                justify-content: space-between;
                box-sizing: border-box;
                padding-inline: .1em;
                margin-bottom: .4em;
                position: relative;
    
                .left {
                    display: flex;
                    align-items: center;
    
                    .balloon {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        font-size: 8pt;
                        margin-left: .6em;
                        min-width: fit-content;
                        width: 8em;
                        box-sizing: border-box;
                        padding: .8em .6em;
                        border-radius: 1.2em;
                        height: 1.2em;
    
                        .name {
                            display: flex;
                            align-items: center;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                            font-weight: 500;
                            margin: 0 0 0 .5em;
                            padding: 0;
                            width: 6em;
                            max-width: 6em;
                            height: 1.2em;
                            max-height: 1.2em;
                        }
    
                        .bi { font-size: 5pt; }
                    }
                }
    
                .dropdown-btn {
                    font-size: 8pt;
                    margin-right: .1em;
                    &:hover { cursor: pointer; }
                }
            }
    
            .popup {
                position: absolute;
                z-index: 105;
            }

            input[type="checkbox"] {
                cursor: pointer;
                width: fit-content;
                height: fit-content;
                color: $english-violet;
                width: 10px;
                height: 10px;
            }
        }
    }
    

    .bottom {
        position: absolute;
        bottom: 5%;
        right: 5%; 
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .add-btn {
            display: flex;
            align-items: center;
            font-size: 8pt;
            height: 2em;
            padding: .1em .5em;
            background-color: rgba($tropical-indigo, .2);
            color: $english-violet;
            font-weight: 500;
            border-radius: 5px;

            .bi {
                margin: 0 .5em 0 0;
                &:hover { cursor: pointer; }
            }

            label {
                margin: 0;
                &:hover { cursor: pointer; }
            }

            &:hover {
                cursor: pointer;
                background-color: rgba($tropical-indigo, .4);
            }

            &:active {
                outline: none;
            }
        }
    }
}

.empty {
    font-size: 8pt;
    font-style: italic;
}