<main class="welcome">
    <div class="background">
        <div class="circles">
            <div class="square red-square"></div>
            <div class="square red-square"></div>
            <div class="square red-square"></div>
            <div class="square red-square"></div>
            <div class="square red-square"></div>
            <div class="square red-square"></div>
            <div class="square red-square"></div>

            <div class="square lilac-square"></div>
            <div class="square lilac-square"></div>
            <div class="square lilac-square"></div>
            <div class="square lilac-square"></div>
            <div class="square lilac-square"></div>
            <div class="square lilac-square"></div>
            <div class="square lilac-square"></div>
        </div>
        <img src="../../../assets/vector_welcome.svg">
    </div>
    <div class="content">
        <h1 class="title">Empieza a trabajar de forma<br>
            <span id="pink">organizada y coordinada</span> con <span id="purple">ToDoX</span>
        </h1>
        <div class="btn-section">
            <button id="login-btn" class="btn" (click)="onLogin()">Iniciar sesión</button>
            <button id="signup-btn" class="btn" (click)="onRegister()">Registrarse</button>
        </div>
    </div>
</main>
