@import "../../../assets/styles/colours";
@import "../../../assets/styles/buttons";


.welcome {
    display: flex;
    flex-direction: column;

    width: 100%;

    overflow-y: hidden;

    .background {
        height: 100%;
        width: 100%;

        position: absolute;
        overflow: hidden;

        overflow: hidden;

        z-index: -3;

        .circles {
            display: flex;
            height: 100%;
            width: 100%;
            position: relative;
            z-index: -2;
            overflow: hidden;

            .square {
                position: absolute;
                display: block;

                bottom: -100px;
                animation: animate 15s linear infinite;

                &:nth-child(1) {
                    left: 10%;
                    width: 80px;
                    height: 80px;
                    animation-delay: 0s;
                }

                &:nth-child(2) {
                    left: 20%;
                    width: 80px;
                    height: 80px;
                    animation-delay: 3s;
                }

                &:nth-child(3) {
                    left: 30%;
                    width: 40px;
                    height: 40px;
                    animation-delay: 6s;
                }

                &:nth-child(4) {
                    left: 70%;
                    width: 60px;
                    height: 60px;
                    animation-delay: 5s;
                }

                &:nth-child(5) {
                    left: 80%;
                    width: 80px;
                    height: 80px;
                    animation-delay: 13s;
                }

                &:nth-child(6) {
                    left: 5%;
                    width: 50px;
                    height: 50px;
                    animation-delay: 8s;
                }

                &:nth-child(7) {
                    left: 49%;
                    width: 60px;
                    height: 60px;
                    animation-delay: 2s;
                }

                &:nth-child(8) {
                    left: 90%;
                    width: 60px;
                    height: 60px;
                    animation-delay: 2s;
                }

                &:nth-child(9) {
                    left: 50%;
                    width: 40px;
                    height: 40px;
                    animation-delay: 9s;
                }

                &:nth-child(10) {
                    left: 60%;
                    width: 80px;
                    height: 80px;
                    animation-delay: 5s;
                }

                &:nth-child(11) {
                    left: 40%;
                    width: 40px;
                    height: 40px;
                    animation-delay: 4s;
                }

                &:nth-child(12) {
                    left: 15%;
                    width: 50px;
                    height: 50px;
                    animation-delay: 5s;
                }

                &:nth-child(13) {
                    left: 60%;
                    width: 60px;
                    height: 60px;
                    animation-delay: 12s;
                }

                &:nth-child(14) {
                    left: 80%;
                    width: 40px;
                    height: 40px;
                    animation-delay: 0s;
                }
            }

            .red-square {
                background: linear-gradient(45deg, rgba($bittersweet, 0.5), $melon-pastel-70);
            }

            .lilac-square {
                background: linear-gradient(145deg, $tropical-indigo-70, $light-red-50);
            }
        }

        img {

            position: absolute;
            bottom: 0;
            right: 0;
            transform: translateY(10%);

            z-index: -1;
        }
    }

    .content {
        display: flex;
        flex-direction: column;

        width: 46%;
        top: 20%;
        left: 5%;
        position: absolute;

        .title {
            margin: 0;
            padding: 0;

            color: $black;
            font-size: 38pt;
            font-weight: 600;

            #pink {
                color: $melon;
            }

            #purple {
                color: $tropical-indigo;
                font-size: 40pt;
            }
        }

        .btn-section {
            display: flex;
            justify-content: space-between;
            width: 45%;
            margin-top: 60px;


            #login-btn {
                @include btn(9em, 2.8em, 14pt, $tropical-indigo, $white, 2px solid $tropical-indigo, 10px, rgba($tropical-indigo, 0.6));
            }

            #signup-btn {
                @include btn(9em, 2.8em, 14pt, transparent, $tropical-indigo, 2px solid $tropical-indigo, 10px, rgba($tropical-indigo, 0.6));
            }
        }
    }
}

@keyframes animate {
    0% {
        opacity: 1;
        border-radius: 20%;
        transform: translateY(0) rotate(0deg);
    }

    100% {
        opacity: 0;
        border-radius: 50%;
        transform: translateY(-1000px) rotate(720deg);
    }
}