<main class="welcome">
    <div class="background">
        <div class="square red-square"></div>
        <div class="square red-square"></div>
        <div class="square red-square"></div>
        <div class="square red-square"></div>
        <div class="square red-square"></div>
        <div class="square red-square"></div>
        <div class="square red-square"></div>

        <div class="square lilac-square"></div>
        <div class="square lilac-square"></div>
        <div class="square lilac-square"></div>
        <div class="square lilac-square"></div>
        <div class="square lilac-square"></div>
        <div class="square lilac-square"></div>
        <div class="square lilac-square"></div>
    </div>
    <div class="centered-content">
        <h1>Bienvenido</h1>
        <div class="buttons">
            <button id="login-btn" class="btn" (click)="onLogin()">INICIA SESIÓN</button>
            <button id="signup-btn" class="btn" (click)="onRegister()">REGÍSTRATE</button>
        </div>
    </div>
</main>