@import "../../../assets/styles/colours";
@import "../../../assets/styles/buttons";

.create-label {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: $white;
    border-radius: 10px;
    width: 280px;
    height: 280px;

    box-shadow: 0 2px 10px rgba($english-violet, .2);

    padding: 5%;

    .form-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        h4 { font-size: 12pt; }

        .close-btn {
            cursor: pointer;
            width: 25px;
            height: 25px;
            margin: -5% -2% 0 0;

            &:hover { transform: scale(1.1); }
            &:active { transform: scale(1); }
        }
    }

    .form-body {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        height: 60%;
        padding-inline: 2%;

        input, textarea {
            padding: 5px;
            margin-bottom: 3.5%;
            border-radius: 5px;
            border: 2px solid rgba($tropical-indigo, 0.4);
            background-color: rgba($tropical-indigo, 0.05);
            color: $tropical-indigo;
            font-size: 8pt;

            &::placeholder { color: rgba($tropical-indigo, 0.5); }
            &:focus { outline: none; }
        }

        input { height: 2.5em; }

        .color-select {
            position: absolute;
            border-radius: 5px;
            width: 96%;
            bottom: 0;
            left: 2%;  
            z-index: 104;
        }
    }

    .buttons {
        display: flex;
        justify-content: center;
        margin-bottom: 2%;
        
        .btn {
            border-radius: 10px;
            width: 4em;
            font-size: 10pt;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            
            &:active { 
                color: $white;
                border: 2px solid $white; 
                outline: none;
            }

            .spinner {
                margin-left: -8px;
                width: 25px;
                height: 25px;
            }
        }
    }
}