<h2 translate>labels.title</h2>

<form (ngSubmit)="onSubmit()">
    <div class="form-body">
        <!-- Label name -->
        <div class="form-group">
            <div class="input-label">
                <label>{{ 'global.name' | translate }}:</label>
            </div>
            <div class="input-field">
                <input type="text" [(ngModel)]="labelName" name="labelName" required>
            </div>
        </div>
        <!-- Label description -->
        <div class="form-group">
            <div class="input-label">
                <label>{{ 'global.description' | translate }}:</label>
            </div>
            <div class="input-field">
                <textarea rows="5" cols="50" [(ngModel)]="labelDescription" name="labelDescription" required></textarea>
            </div>
        </div>
        <!-- Label color -->
        <div class="form-group">
            <div class="input-label">
                <label>{{ 'global.color' | translate }}:</label>
            </div>
            <div class="input-field">
                <input type="color" [(ngModel)]="labelColor" name="labelColor">
            </div>
        </div>
        <!-- Label type -->
        <!-- <div class="form-group">
            <div class="input-label">
                <label>Type:</label>
            </div>
            <div class="input-field">
                <select [(ngModel)]="labelType" name="labelType">
                    <option value="date">Date</option>
                    <option value="boolean">Boolean</option>
                    <option value="int">Integer</option>
                    <option value="string">String</option>
                </select>
            </div>
        </div> -->
        <div class="buttons">
            <button class="btn" type="submit">{{ 'global.ok' | translate }}</button>
        </div>
    </div>
</form>
