<form class="create-label" (ngSubmit)="onSubmit()" [formGroup]="labelForm">
    <div class="form-header">
        <h4 class="title">Crear etiqueta</h4>
        <img class="close-btn" src="../../../assets/icons/IoChevronBackCircle.svg" (click)="onClose()">
    </div>
    <div class="form-body">
        <input #input type="text" formControlName="name" placeholder="{{ 'global.name' | translate }}">
        <textarea #input formControlName="description" rows="4" cols="30" name="description" type="text" placeholder="{{ 'global.description' | translate }}"></textarea>
        <app-color-selector #selector (selection)="selectColor($event)" class="color-select"></app-color-selector>
    </div>
    <div class="buttons">
        <button class="btn qt-btn" type="submit"><img *ngIf="loading" class="spinner" src="../../../assets/spinner.gif">{{ 'global.ok' | translate }}</button>
    </div>
</form>